<h2> New Post </h2>
<form action="/posts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticy_token %>">

  <label for="post[post]">Post:</label>
  <input name="post[post]"

<!-- fix above, shits fucked, yo! -->
